#!/usr/bin/env bash
# vim: ft=bash

unset DEBUG

PATH_add bin
PATH_add exe
PATH_add ~/.bashmatic/bin

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export NEW_RELIC_AGENT_ENABLED=false

export project_root="$(dirname "$(dirname "$(realpath "${BASH_SOURCE[0]}")")")"

export ASDF_CONFIG_FILE="${project_root}/.asdf.config"
export ASDF_DIR="${projct_root}/.asdf"
export APP_KEY_FILE="$(pwd -P)/.key"

export RUBYOPT="-W0"

[[ -f "${APP_KEY_FILE}" ]] && export SYM_ARGS="-ck $(head -1 "${APP_KEY_FILE}")"

[[ -f ".envrc.local" ]] && source ".envrc.local"
[[ -n "${RAILS_ENV}" && -f ".envrc.$RAILS_ENV" ]] && source ".envrc.${RAILS_ENV}"

