#!/usr/bin/env bash
# vim: ft=bash

PATH_add bin
PATH_add exe
PATH_add ~/.bashmatic/bin

export sym_key_file="$(pwd -P)/.key"

[[ -f ${sym_key_file} ]] && export SYM_ARGS="-ck $(head -1 "${sym_key_file}")"
export RUBYOPT="-W0"

[[ -f .envrc.local ]] && source .envrc.local
