.bundle
.cap_tasks~
.config
.DS_Store/
.envrc.local
.idea/
.key
.yardoc
*.a
*.bundle
*.gem
*.o
*.rbc
*.so
**/.DS_Store
**/*.swp
**/node_modules
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/public/assets
/tmp
config/commento.sh
config/master.key
config/secrets.yml
coverage/
doc/
log/**
mkmf.log
results/
.fleet
.envrc.secrets
**/.ruby-lsp
vendor/bundle
.sass-cache
