/ Modal
.thickness-info-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        = render 'home/modals/close_x'
        %h1.modal-title Typical Acrylic Thickness Values
      .modal-body.thickness-table
        %strong
          %span.inches Inches
          %span.mm Millimeters
        .spacer-20
        %br/
        %br/
        %span.inches 0.060
        %span.mm 1.5
        %br/
        %span.inches 0.080
        %span.mm 2.0
        %br/
        %span.inches 0.098
        %span.mm 2.5
        %br/
        %span.inches 0.100
        %span.mm 2.5
        %br/
        %span.inches 0.118
        %span.mm 3.0
        %br/
        %span.inches 0.125
        %span.mm 3.2
        %br/
        %span.inches 0.150
        %span.mm 3.8
        %br/
        %span.inches 0.177
        %span.mm 4.3
        %br/
        %span.inches 0.177
        %span.mm 4.5
        %br/
        %span.inches 0.187
        %span.mm 4.7
        %br/
        %span.inches 0.197
        %span.mm 5.0
        %br/
        %span.inches 0.220
        %span.mm 5.6
        %br/
        %span.inches 0.236
        %span.mm 6.0
        %br/
        %span.inches 0.250
        %span.mm 6.4
        %br/
        %span.inches 0.295
        %span.mm 7.5
        %br/
        %span.inches 0.312
        %span.mm 7.9
        %br/
        %span.inches 0.354
        %span.mm 9.0
        %br/
        %span.inches 0.375
        %span.mm 9.5
        %br/
        %span.inches 0.472
        %span.mm 12.0
        %br/
        %span.inches 0.500
        %span.mm 12.7
        %br/
        %span.inches 0.591
        %span.mm 15.0
        %br/
        %span.inches 0.625
        %span.mm 15.9
        %br/
        %span.inches 0.708
        %span.mm 18.0
        %br/
        %span.inches 0.750
        %span.mm 19.1
        %br/
        %span.inches 0.944
        %span.mm 24.0
        %br/
        %span.inches 1.000
        %span.mm 25.4
        %br/
        %span.inches 1.125
        %span.mm 28.6
        %br/
        %span.inches 1.500
        %span.mm 38.1
        %br/
        %span.inches 1.750
        %span.mm 44.5
        %br/
        %span.inches 2.000
        %span.mm 50.8
        %br/
        %br/
      .modal-footer.clear
        %button.btn.btn-lg.btn-main{"data-dismiss" => "modal", :type => "btn-lg btn-main"} Close
