
.row
  .col-sm-0.col-md-0.col-lg-1.col-xl-1
  .col-sm-12.col-md-12.col-lg-10.col-xl-10
    .panel.footer-panel
      .panel-body
        %p
          %span{:style => 'font-size: 13pt;'} &#169;
          %strong.panel-title 2014-2017 Konstantin Gredeskoul
          of
          %a{:href => 'https://reinvent.one/'} ReinventONE, Inc.
        %p
          This site is a front-end to the
          %a{:href => 'https://github.com/kigster/laser-cutter'} laser-cutter ruby gem
          (version #{Laser::Cutter::VERSION}) distributed under MIT License.
          Fixes and other  contributions are
          %a{:href => 'https://github.com/kigster/laser-cutter/blob/master/CONTRIBUTING.md'} wanted and highly encouraged
        %p
          Lovingly crafted in San Francisco, this is as a hobby project of
          = succeed ',' do
            %a{:href => 'http://kig.re/'} Konstantin Gredeskoul
          %a{:href => 'http://github.com/kigster'} @kigster
          on github,
          %a{:href => 'http://twitter.com/kig'} @kig
          on twitter.
          %a{:href => 'http://wanelo.com/kig'} @kig
          @ wanelo, which is where I work.
      .panel-footer
        .reinvent-one
          %a{:href => 'https://reinvent.one/'}
            %img{:src => 'https://reinvent.one/images/re1/logos/reinvent-one-logo-890x242-on-dark.png', :width => '200'}
  .col-sm-0.col-md-0.col-lg-1.col-xl-1

.row
  = render 'shared/41_google'
