.panel.footer-panel
  .panel-body{style: 'text-align: center;'}
    %p
      %span{style: 'font-size: 13pt;'} &#169;
      %strong.panel-title
        = "2014-#{Time.now.year}"
        %a{href: 'https://reinvent.one/', style: 'font-size: 15pt;'}
          ReinventONE, Inc.
        %br
        %span{style: 'font-size: 11pt;'}
          Written by
          %a{href: "https://kig.re"}Konstantin Gredeskoul
    %p
      This site is a front-end to the
      %a{href: 'https://github.com/kigster/laser-cutter'} laser-cutter ruby gem
      (version #{Laser::Cutter::VERSION}) distributed under MIT License.
      Fixes and other  contributions are
      %a{href: 'https://github.com/kigster/laser-cutter/blob/master/CONTRIBUTING.md'} wanted and highly encouraged
    %p
      Lovingly crafted in San Francisco, this is as a hobby project of
      = succeed ',' do
        %a{href: 'https://kig.re/'} Konstantin Gredeskoul
      %a{href: 'https://github.com/kigster'} @kigster
      on github,
      %a{href: 'https://twitter.com/kig'} @kig
      on twitter.
      %a{href: 'https://soundcloud.com/xerofox'} @XeroFoxOne (DJ & Producer)
      on SoundCloud.
  .panel-footer
    .reinvent-one
      %a{href: 'https://reinvent.one/'}
        %img{src: 'https://reinvent.one/images/re1/logos/reinvent-one-logo-890x242-on-dark.png', width: '200'}
