
.row
  .col-sm-0.col-md-2.col-lg-3.col-xl-4
  .col-sm-12.col-md-8.col-lg-6.col-xl-6
    .p-3.m-autow
    = render 'shared/comments'
  .col-sm-0.col-md-2.col-lg-3.col-xl-4

.row
  .col-sm-0.col-md-0.col-lg-0.col-xl-1
  .col-sm-12.col-md-12.col-lg-12.col-xl-10
    = render 'shared/footer_content'
  .col-sm-0.col-md-0.col-lg-0.col-xl-1

.row
  = render 'shared/google'
  = render 'shared/newrelic'

