
<!-- Modal -->
<div class="modal fade" id="advanced-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="myModalLabel">Advanced Options</h1>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">

        <dt>Notch</dt>
            <dd>The length of the notch (the width of the tabs) binding the two sides. Leave this value blank to use 3x thickness as the default.</dd>
        <dt>Kerf</dt>
            <dd>Kerf is defined as the cut width: the amount of material that laser removes while cutting. By adding a non-zero kerf you can compensate for the
              material removed, and make your box fit very snug.  But be careful: too much kerf and the sides will not fit together.  Default value is conservative at 0.007in. </dd>
        <dt>Margin</dt>
            <dd>is the spacing around the entire box layout</dd>
        <dt>Padding</dt>
            <dd>is the spacing between sides of the box as they are laid out.</dd>
        <dt>Stroke</dt>
            <dd class="last">is the thickness of the line. <br /><br/>
                For example, <strong>Epilog</strong> laser cutter requires stroke width of 0.001 inches in order to make a cut.
            </span>
            </dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-main" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

