<!-- Modal -->
<div class="modal fade" id="thickness-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content thickness-table">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="myModalLabel">Typical Acrylic Thickness Values</h1>
      </div>
      <div class="modal-body">
        <strong><span class="inches">Inches</span><span class="mm">Millimeters</span></strong><br /><br />
        <span class="inches">0.060</span><span class="mm">1.5</span><br />
        <span class="inches">0.080</span><span class="mm">2.0</span><br />
        <span class="inches">0.098</span><span class="mm">2.5</span><br />
        <span class="inches">0.100</span><span class="mm">2.5</span><br />
        <span class="inches">0.118</span><span class="mm">3.0</span><br />
        <span class="inches">0.125</span><span class="mm">3.2</span><br />
        <span class="inches">0.150</span><span class="mm">3.8</span><br />
        <span class="inches">0.177</span><span class="mm">4.3</span><br />
        <span class="inches">0.177</span><span class="mm">4.5</span><br />
        <span class="inches">0.187</span><span class="mm">4.7</span><br />
        <span class="inches">0.197</span><span class="mm">5.0</span><br />
        <span class="inches">0.220</span><span class="mm">5.6</span><br />
        <span class="inches">0.236</span><span class="mm">6.0</span><br />
        <span class="inches">0.250</span><span class="mm">6.4</span><br />
        <span class="inches">0.295</span><span class="mm">7.5</span><br />
        <span class="inches">0.312</span><span class="mm">7.9</span><br />
        <span class="inches">0.354</span><span class="mm">9.0</span><br />
        <span class="inches">0.375</span><span class="mm">9.5</span><br />
        <span class="inches">0.472</span><span class="mm">12.0</span><br />
        <span class="inches">0.500</span><span class="mm">12.7</span><br />
        <span class="inches">0.591</span><span class="mm">15.0</span><br />
        <span class="inches">0.625</span><span class="mm">15.9</span><br />
        <span class="inches">0.708</span><span class="mm">18.0</span><br />
        <span class="inches">0.750</span><span class="mm">19.1</span><br />
        <span class="inches">0.944</span><span class="mm">24.0</span><br />
        <span class="inches">1.000</span><span class="mm">25.4</span><br />
        <span class="inches">1.125</span><span class="mm">28.6</span><br />
        <span class="inches">1.500</span><span class="mm">38.1</span><br />
        <span class="inches">1.750</span><span class="mm">44.5</span><br />
        <span class="inches">2.000</span><span class="mm">50.8</span><br />
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-main" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
