<!-- Modal -->
<div class="modal fade" id="introduction-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title" id="myModalLabel">Welcome to Make-A-Box!</h1>
      </div>
      <div class="modal-body">
        <p class="lead">Are you ready to make some boxes?! Let's go!</p>

        <p>This super-duper awesome (ZOMG!) online box making thingy can generate a design for your
          custom sized box in a blink of an eye!  You can then feed the PDF to a laser-cutter and
          cut sides for your box out of acrylic, wood, or even glass. The generated design includes notches
          that make the sides of the box snap into each other perfectly. Not only that, but the
          notches are symmetric, making it super easy to assemble the box.</p>

        <p>The PDF you generate will be downloaded straight to your computer. Typically
          you would want to import it into a graphics software (such as Adobe Illustrator&trade;)
          for further customization, hole cutting, etc.</p>

        <div class="spacer-50"></div>
        <div class="text-center">
        <%= image_tag("notched-boxes.jpg", class: "photo") %>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-main" data-dismiss="modal">Close</button>
        <button type="button" class="dont-show-notice btn btn-warning-outline" data-dismiss="modal">Close &amp; Don't Show Again</button>
      </div>
    </div>
  </div>
</div>
