.panel.text-center
  .panel-heading
    %h1.panel-title Thanks for Using MakeABox.io!
  .panel-body.text-center
    .text-center.small
      Please donate to help with the development of new features of this tool.
      %hr
      %form{:action => 'https://www.paypal.com/cgi-bin/webscr', :method => "post", :target => "_top"}
        %input{:name => 'cmd', :type => "hidden", :value => "_s-xclick"}
        %input{:name => 'hosted_button_id', :type => "hidden", :value => "Y4XR246KD644W"}
        %input{:alt => 'Donate', :style => 'margin: 0 auto;', :border => "0", :width => '200', :name => "submit", :src => 'https://www.paypalobjects.com/webstatic/mktg/merchant_portal/button/donate.en.png', :title => 'PayPal - The safer, easier way to pay online!', :type => 'image'}
        %img{:alt => '', :border => '0', :height => '1', :src => 'https://www.paypal.com/en_US/i/scr/pixel.gif', :width => '1'}
