.panel
  .panel-heading
    %i.advanced-info.pull-right.fa.fa-info-circle.fa-lg
    %h1.panel-title Optional Settings
  .panel-body
    = raw(config_form_element_group(%w(kerf margin padding stroke), @config))
