# vim: ft=systemd
[Unit]
Description=puma.makeabox
After=network.target

[Service]
Type=simple
User=kig
WorkingDirectory=/home/kig/apps/makeabox/current
ExecStart=/home/kig/.rbenv/shims/bundler exec puma -C /home/kig/apps/makeabox/current/config/puma.rb
ExecStop=/home/kig/.rbenv/shims/bundler exec pumactl -S /home/deploy/apps/shared/tmp/pids/puma.state stop
ExecReload=/bin/kill -s USR1 $MAINPID
PIDFile=/home/kig/apps/makeabox/shared/tmp/pids/puma.pid
TimeoutSec=15
EnvironmentFile=/home/kig/apps/makeabox/current/.envrc.production
SyslogIdentifier=puma.makeabox
CPUQuota=80%
MemoryHigh=3G
RestartSec=500ms
Restart=always
Slice=makeabox

[Install]
WantedBy=multi-user.target
