
.panel-actions
  .btn-group{:role => 'group', 'aria-label': 'Action Group', style: 'flex-wrap: wrap;'}
    %button#save-settings-group.mt-2.btn-lg.btn-info.d-flex.flex-wrap.dropdown-toggle{'aria-expanded': false, 'aria-haspopup' => 'true', 'data-toggle' =>    'dropdown', :type => 'button'}
      Actions...
    .dropdown-menu{'aria-labelledby' => 'save-settings-group'}
      %a.dropdown-item{:href => '#', id: 'save'}
        Save All Settings
      %a.dropdown-item{:href => '#', id: 'download'}
        Save All & Download PDF
      %a.dropdown-item{:href => '#', id: 'restore'}
        Recall Previously Saved Settings
      %a.dropdown-item.divider{role: 'separator'}
      %a.dropdown-item.divider{role: 'separator'}
      %a.dropdown-item{:href => '#', id: 'clear'}
        Reset to Defaults
      %a.dropdown-item{:href => '#', id: 'save-units'}
        Set the Default Units to Currently Selected
      %a.dropdown-item.divider{role: 'separator'}
    %button#make-pdf.btn-success.text-center.btn-lg.mt-2{ tabindex: 5, type: 'submit' }
      Download PDF
