-#.panel.paypal-donation
-#.panel-body#paypal-ad
.align-text-top.m-auto
  .spacer-20
  .d-block.align-items-center.rounded.ui-widget-shadow.paypal-container.wide-panel.panel.ad-panel.w-100
    .panel-heading
      %h1.panel-title Support MakeABox.io!

    .ad-component
      .buttons.w-100.d-flex.align-content-center.align-center.align-items-center
        .paypal-logos.d-flex.align-content-center.w-100.text-center
          %form{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_blank',
            class: 'd-flex w-100 align-items-center'}
            %input{name: 'cmd', type: 'hidden', value: '_s-xclick'}
            %input{name: 'hosted_button_id', type: 'hidden', value: 'Y4XR246KD644W'}
            %input{alt: 'paypal-donation',
              border: '0',
              name: 'submit',
              width: 300,
              height: 50,
              class: 'paypal-button',
              style: 'width: 300px; height: 50px',
              src: image_url('buttons/up-long/btn-donate-once.png'),
              title: 'PayPal - The safer, easier way to pay online!', type: 'image'}
            %img{:alt => '', :border => '0', :height => '1', :src => 'https://www.paypal.com/en_US/i/scr/pixel.gif', :width => '1'}
            %img{:alt => '', :border => '0', :height => '1', :src => 'https://www.paypalobjects.com/webstatic/mktg/merchant_portal/button/donate.en.png', :width => '1'}

      %h3.text-center OR
      .paypal-logos
        %form{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_top'}
          %input{name: 'cmd', :type => 'hidden', :value => '_s-xclick'}
          %input{name: 'hosted_button_id', :type => 'hidden', :value => 'KRTBESRX889A8'}
          %table
            %tr
              %td
                %input{name: 'on0', :type => 'hidden', :value => 'Donation Options'}
            %tr
              %td
                %select{name: 'os0'}
                  %option{value: 'Junior'} $0.99 USD - monthly (Junior)
                  %option{value: 'Freshman'} $1.99 USD - monthly (Freshman)
                  %option{value: 'Sophomore'} $2.99 USD - monthly (Sophomore)
                  %option{value: 'Graduate'} $5.99 USD - monthly (Graduate)
                  %option{value: 'Post Graduate'} $9.99 USD - monthly (Post Graduate)
                  %option{value: 'Post Doctorate'} $19.99 USD - monthly (Post Doctorate)
                  %option{value: 'Filthy Rich, No Degree Necessary'} $99.99 USD - monthly (Einstein)
          %input{name: 'currency_code', :type => 'hidden', :value => 'USD'}
          %input{alt: 'PayPal - The safer, easier way to pay online!',
            border: '0',
            name: 'submit',
            src: image_url('buttons/up-long/btn-donate-monthly.png'),
            class: 'paypal-button',
            width: 350,
            height: 50,
            style: 'width: 350px; height: 50px',
            type: 'image'}
          %img{alt: '', :border => '0', :height => '1', :src => 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif', :width => '1'}
          %img{alt: '', :border => '0', :height => '1', :src => 'https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif', :width => '1'}

      %h3.text-center Dear Makers!
      %p
        Hi! I am so thrilled that so many of you choose to make boxes on this site.
        There are thousands and thousands of boxes made
        %em every single day.

      %p
        As I am sure you realize, it costs money to run this site, and therefore we are asking you to
        please consider donating literally any amount, as it's very much appreciated.

      %p
        And if you can offer a recurring monthly donation for as little as $1, we would really
        appreciate, AND - ANYONE SUBSCRIBED TO A MONTHLY DONATION (Graduate or higher) will be
        granted a free account for the first 3 years once MakeABox Premium launches.
