<div class="refine-ad mt-3">
    <a class="refine-link right ui-widget-shadow  p-0 text-centers"
       href="https://refinepackaging.com/?utm_source=makeaboxio"
       target="_new">
      <div class="refine-ad-image <%= @refine_ad_type %>"></div>
    </a>
</div>

