<div class="refine-ad w-200">
  <div class="spacer-30"></div>
    <a class="refine-link right ui-widget-shadow m-auto p-0 text-centers"
       href="https://refinepackaging.com/?utm_source=makeaboxio"
       target="_new">
      <div class="refine-ad-image <%= @refine_ad_type %>"></div>
    </a>
</div>

