/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

label, .form-element, .form-explanation {
    float: left;
    margin-right: 15px;
}

label {
    width: 100px;
    text-align: right;
}

label:hover {
    cursor: pointer;
}

textarea:focus, input[type='text']:focus {
    background-color: #F0FFF0;
}

h4 {
    margin-top: 30px;
    color: #A0A0A0;
}

input[type='number'].numeric {
    width: 80px !important;
    text-align: right;
}

.logo-name {
    float: left;
    width: 200px;
    margin-left: 30px;
}

.logo-image {
    width: 50px;
    float: left;
}

.btn-pink:default {
    background-color: #ff5e5e;
    border-color: #af2e2e;
    color: white;
}

.btn-pink:hover {
    color: white;
    background-color: #ef2e2e;
    border-color: white;
}

footer {
    margin-top: 40px;
    padding: 10px 20px;

    border-top: 1px solid #DDDDDD;
}

.error {
    color: #FF8080;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF8080;
    margin-bottom: 20px;
}

.spacer-20 {
    height: 20px;
}

.spacer-50 {
    height: 50px;
}

#clear-box-container {
    text-align: right;
    width: 200px;
}

.form-label-and-select {
    width: 300px;
}

.form-label-and-element {
    width: 200px;
}

#save-clear {
    margin-right: 100px;
}

#opener:hover {
    cursor: pointer;
}

@media only screen and (max-width:  740px) {
    body {
        padding: 0;
    }

    .logo-name {
        width: 150px;
        margin-left: 10px;
    }

}
