/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@import "variables";
@media all and (min-width: 750px) {
}

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  line-height: 1;
  color: $main-fg;
  background-color: $main-bg !important;

  .logo-name {
    float: left;
    width: 150px;
    margin-left: 10px;
  }

  .alert {
    box-shadow: $header-box-shadow;
    font-size: 15pt;
    line-height: 17pt;
  }

  .alert-danger {
    border: 2px solid #ef2e2e;
    border-box-shadow: 10px 10px 20px black;
    border-radius: 20px;
    min-height: 150px;
    width: 100%;
    font-size: 25pt;
    line-height: 26pt;
    padding: 20px;
    text-shadow: 1px 1px 2px #000;
  }

  .error {
    color: #FF8080;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF8080;
    margin-bottom: 20px;
  }


  .logo-image {

    width: 50px;
    float: right;
    margin:0;
    width:40px;
    position: absolute;
    right: 10px;
    top: 0px;
  }

  footer {
    margin-top: 40px;
    padding: 10px 20px;
    border-top: 1px solid #DDDDDD;
  }

  .spacer-20 {
    height: 20px;
  }

  .spacer-50 {
    height: 50px;
  }

  .clear-left {
    clear: left;
  }

  .clear-right {
    clear: right;
  }

  .clear {
    clear: both;
  }

  #clear-box-container {
    text-align: right;
    width: 200px;
  }

  //.form-label-and-select {
  //  width: 300px;
  //}
  //
  //.form-label-and-element {
  //  width: 250px;
  //  border: 1px solid blue;
  //}

  img.photo {
    width: 100%;
    border: 1px solid #A0A0A0;

  }

  .fa {
    color: #7AD;
  }

  .fa:hover {
    cursor: pointer;
    color: #ff5e5e;
  }

  #fork-me {
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }

  #disqus_thread {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }


  .page-footer {
    .panel-heading {
      padding: 15px;
    }
    .reinvent-one {
      margin: 0 auto;
      width: 30%;
      height: 80px;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
