/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
label, .form-element, .form-explanation {
    float: left;
    margin-right: 15px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

label {
    color: #666;
    font-weight: normal;
    width: 100px;
    text-align: right;
}

label:hover {
    cursor: pointer;
}

textarea:focus, input[type='text']:focus {
    background-color: #F0FFF0;
}

h4 {
    margin-top: 30px;
    color: #A0A0A0;
}

input[type='number'].numeric {
    width: 80px !important;
    text-align: right;
}

.logo-name {
    float: left;
    width: 200px;
    margin-left: 0px;
}

.logo-image {
    width: 50px;
    float: left;

}

.btn-pink:default {
    background-color: #ff5e5e;
    border-color: #af2e2e;
    color: white;
}

.btn-pink:hover {
    color: white;
    background-color: #ef2e2e;
    border-color: white;
}

footer {
    margin-top: 40px;
    padding: 10px 20px;

    border-top: 1px solid #DDDDDD;
}

.error {
    color: #FF8080;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF8080;
    margin-bottom: 20px;
}

.spacer-20 {
    height: 20px;
}

.spacer-50 {
    height: 50px;
}

#clear-box-container {
    text-align: right;
    width: 200px;
}

.form-label-and-select {
    width: 300px;
}

.form-label-and-element {
    width: 200px;
}

img.photo {
    border: 1px solid #A0A0A0;
}

dl.dl-horizontal dt {
    width: 100px;
}
dl.dl-horizontal dd {
    margin-left: 115px;
    margin-bottom: 5px;
}

dl.dl-horizontal dd.last {
    margin-bottom: -20px;
}

.fa {
    color: #7AD;
}

.fa:hover {
    cursor: pointer;
    color: #ff5e5e;
}

span.inches, span.mm {
    display: inline-block;
    width: 100px;
    text-align: right;
}

span.inches {
    margin-left: 20px;
}
#fork-me {
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#disqus_thread {
    width: 97%;
    max-width: 750px;
    margin: 0 auto;
}

h4.panel-title {
    margin-bottom: 7px;
    font-size: 12px;
}

@media only screen and (max-width: 740px) {
    body {
        padding: 0;
    }

    .logo-name {
        width: 150px;
        margin-left: 10px;
    }

    img#fork-me {
        display: none;
    }

    img.photo {
        width: 70%;
    }

    #disqus_thread {
        width: 90%;
        margin: 0 auto;
    }
}
