@import "variables";

body {
  form {
    label {
      color: $main-fg;
      font-weight: normal;
      text-align: right;
      white-space: nowrap;
      float: left;
      &:hover {
        cursor: pointer;
      }
    }

    label, input, label select {
      font-family: $main-font-family;
    }

    label, input {
      display: block;
      height: 40px;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px;
      padding-left: 0;
    }

    label {
      padding-top: 10px;
      padding-right: 15px;
      width: 35%;
    }

    input[type=number].numeric {
      box-shadow: $form-input-box-shadow;
      border: $form-input-border;
      background-color: $form-input-bg;
      color: $form-input-fg;
      width: 40%;
      text-align: right;
      margin-left: 10px;
    }

    textarea:focus, input[type=number]:focus, {
      background-color: $form-input-focus-bg;
      color: $form-input-focus-fg;
    }


    input[type=radio], input[type=checkbox]{
      cursor: pointer;
      width: 30px;
      height: 35px;
      padding-left: 8px;
      padding-right: 9px;
    }

    .panel-body {
      width: 100%;
    }

    .form-label-and-select {
      label {
        width: 100%;
        text-align: left;
        margin: 10px 0 10px 0;
        height: auto;
      }
      select {
        margin: 10px 0 0 0;
        width: 100% !important;
        padding: 10px;
      }
    }

    .measurements {
      border-top: 1px solid #ccc;
      label, .mkbx-radio {
        height: 60px;
        width: 47%;
        padding: 0px 0px 0;
      }
      .mkbx-radio {
        float: right;
        clear: left;
        padding-left:10px;
      }
    }



    #action-bar {
      margin: 0 auto;
      text-align: center;
      .dropdown-menu {
        .dropdown-item {
          padding-top: 7px;
          height: 40px;
          border-bottom: 1px solid #aaa;
          &:last-child {
            border-bottom: 0px solid white;
          }
        }
      }
    }
  }
}
