@import "variables";

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  color: $main-fg;
  background-color: $main-bg !important;

  #adsense-row {
    padding-top: 20px;
    height: 150px;
    text-align: center;
  }

  #donate-row {
    height: 150px;
    text-align: center;
  }

  .adsense {
    position: relative;
    padding: 10px;
    text-align: center;
    width: auto !important;
  }

  .alert {
    box-shadow: $header-box-shadow;
    font-size: 15pt;
    line-height: 17pt;
  }

  .alert-danger {
    border: 1px solid #ef2e2e;
    border-radius: $default-border-radius * 2;
    margin: 20px 0;
    min-height: 50px;
    width: 100%;
    font-size: 20pt;
    line-height: 24pt;
    padding: 20px;
  }

  .error {
    color: #FF8080;
    text-align: center;
    padding: 10px;
    border: 1px solid #FF8080;
    margin-bottom: 20px;
  }

  footer {

    margin-top: 40px;
    border-top: 1px solid #DDDDDD;
  }

  .spacer-20 {
    height: 20px;
  }

  .spacer-50 {
    height: 50px;
  }

  .clear-left {
    clear: left;
  }

  .clear-right {
    clear: right;
  }

  .clear {
    clear: both;
  }

  .text-center {
    text-align: center;
  }

  #clear-box-container {
    text-align: right;
    width: 400px;
  }

  img.photo {
    max-width: 500px;
    box-shadow: 2px 2px 20px #777;
  }

  .fa {
    color: #7AD;
  }

  .fa:hover {
    cursor: pointer;
    color: #ff5e5e;
  }

  #fork-me {
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 100px;
    height: 100px;
  }

  #disqus_thread {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #save-settings-group {
    margin-right: 20px;
  }

  #action-status {
    position: fixed;
    top: 5%;
    left: 20%;
    right: 20%;
    padding: 10px 30px !important;
    text-align: center;
    font-family: $header-h1-font-family;
    font-size: $header-h1-font-size - 5;
    color: #FFFFFF;
    z-index: 1000;
    background-color: rgba(121, 155, 123, 0.9);
    box-shadow: 0 0 20px #222;
    border-radius: 5px;
    display: none;
  }

  .panel-actions {
    //position: absolute;
    //top: -70px;
    width: 100% !important;
    //margin: 0 auto;
    text-align: center;
    .dropdown-menu {
      //position: absolute;
      //margin-left: 190px;
      .divider {
        border-bottom: 0px solid white !important;
      }
      .dropdown-item {
        padding-top: 7px;
        border-bottom: 1px dashed #DDDDDD;
        &:last-child {
          border-bottom: 0px solid white;
        }

      }
    }

    #make-pdf {
      margin-left: 0px;
    }
    #save-settings-group {
      margin-right: 10px;
    }

    #make-pdf, #save-settings-group {
      //min-width: 150px !important;
      height: 50px !important;
      font-size: 13pt;
    }
  }

  @media all and (max-width: 992px) {
    //.panel-actions {
    //  position: relative !important;
    //  top: 10px;
    //  width: 100%;
    //  left: auto;
    //  right: auto;
    //}
  }
  @media all and (max-width: 600px) {
    .panel-actions {
      //width: 100% !important;
      //margin: 0px;
      //#make-pdf, #save-settings-group {
      //  width: 160px !important;
      //  height: 40px !important;
      //}
      //#action-status {
      //  width: 50%;
      //  left: 25%;
      //  right: 25%;
      //}
    }

  }

  .page-footer {
    .panel-heading {
      padding: 15px;
    }
    .reinvent-one {
      margin: 0 auto;
      width: 30%;
      height: 80px;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

