@import "variables";

body {
  .modal-content {
    line-height: 1.2;
    border-radius: 15px;
    .close { padding: 10px; margin-right: 15px; font-size: 40pt; }
    .modal-header {

      padding: 0;
      border: 1px solid $header-border;
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
      margin-bottom: 7px;
      background-color: $header-bg;
      color: $header-fg;
      height: 50pt;

      h1 {
        font-family: 'Oswald', "HelveticaNeue-CondensedBold", "Arial Black", Helvetica, sans-serif;
        font-weight: 300;
        color: #ef2e2e;
        text-shadow: 0 0 10px white;
        font-size: 20pt;
        padding-left: 20px;
        padding-top: 20px;
        font-weight: 700;
      }
    }
    .thickness-table {
      width: 100%;
      height: auto;
      line-height: 1;

      strong {
        span {
          font-family: 'Oswald', "HelveticaNeue-CondensedBold", "Arial Black", Helvetica, sans-serif;
          font-weight: 700;
          font-size: 16pt;
          border-bottom: 0px solid white;
        }
      }
      span {
        display: block;
        margin: 0;
        padding: 0;
        width: 200px;
        border-bottom: 1px solid rgba(#ffc542, 0.4);
        padding-top: 10px;
        float: left;
        text-align: right;
        font-family: 'Fira Mono', 'Consolas', 'Monaco', 'Courier', sans-serif;
        font-size: 12pt;
        &.inches {
          margin-left: 10%;
          padding-right: 20%;
          width: 40%;
          clear: left;
        }
        &.mm {
          width: 40%;
          padding-left: 10%;
          padding-right: 20%;
        }
      }
    }
    .modal-body {


      dl.dl-horizontal {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        dt {
          padding-top: 20px;
        }
        dd {
          margin-top: -18px;
          margin-left: 115px;
        }
        dd.last {
          margin-bottom: -20px;
        }
      }

    }
  }
}
