body {
  .ad-panel {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto !important;
    padding: 0 !important;
    height: 250px;
    overflow: hidden;
    text-align: center;

    .refine-ad-image {
      @media all and (min-width: 662px) {
        content: url(image-url("ads/refine-landscape.jpg"));
      }
      @media all and (max-width: 660px) {
        content: url(image-url("ads/refine-portrait.jpg"))
      }
    }

    #refine-ad img#refine-ad-img {
      border: 1px solid #2A1F32;
    }
  }
}



