@import "variables";

body {
  .modal-dialog{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 60px 20px red !important;
    border-radius: $default-border-radius;
    min-width: 50%;
  }

  .modal-content {
    line-height: 1.1;
    border-radius: $default-border-radius * 1.5;
    .close {
      position: absolute;
      right: 20px;
      top: 0px;
      padding: 0px;
      margin: 0px;
      font-size: 40pt;
      z-index: 1000;
      &:hover {
        text-shadow: 0px 0px 15px white;
        cursor: pointer;
      }
    }
    .modal-header {
      padding: 0;
      border: 1px solid $header-border;
      border-top-left-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
      margin-bottom: 7px;
      background-color: $header-bg;
      color: $header-fg;
      height: 50pt;
      position: relative;

      h1 {
        width: 100%;
        text-align: center;
        position: relative;
        left: 0px;
        font-family: $header-h1-font-family;
        color: #ef2e2e;
        text-shadow: 0 0 10px white;
        font-size: 20pt;
        padding: 0px;
        font-weight: 700;
        margin: 0;
        padding-right: 20px;
      }
    }
    .thickness-table {
      width: 100%;
      height: auto;
      line-height: 1;

      strong {
        span {
          font-family: $header-h1-font-family;
          font-weight: 700;
          font-size: 16pt;
          border-bottom: 0px solid white;
        }
      }
      span {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid rgba(#ffc542, 0.4);
        padding-top: 10px;
        float: left;
        text-align: right !important;
        font-family: $main-font-family-monospaced;
        font-size: 12pt;
        &.inches {
          margin-left: 10%;
          width: 30%;
          clear: left;
          text-align: right;
        }
        &.mm {
          width: 50%;
          text-align: right;
          padding-right: 20%;
        }
      }
    }
    .modal-body {
      color: $modal-fg;
      font-family: $main-font-family;
      font-size: $main-font-size - 2;
      font-weight: 300;
      padding: 30px;

      dl.dl-horizontal {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        dt {
          padding-top: 20px;
          margin-top: -10px;
          font-weight: bold;
          font-family: $header-h1-font-family;
          color: $modal-fg - 40;
        }
        dd {
          margin-top: 10px;
          margin-left: 80px;
        }
        dd.last {
          margin-bottom: -20px;
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  body {
    .modal-body {
      dl.dl-horizontal {
        dd {
          margin-left: 0px !important;
        }
      }
    }
  }
}
