@import 'variables';

.navbar {
  background-color: #403D3B;
  height: 80px;
  padding: 5px;

  .logo-image {
    margin: 0 auto;
    width: 50px;
    float: left;
    box-shadow: 0 0 10px #222;
  }

  h1.logo {
    width: auto;
    position: relative;
    margin: 0 auto;
    padding:0;
    margin-top: -10px;
    color: $header-fg;
    font-family: $header-h1-font-family;
    font-weight: $header-font-weight;
    font-size: 55pt;
    text-shadow: $logo-text-shadow;

    &:hover {
      color: $header-hover;
      text-decoration: underline;
    }
  }
}
