@import 'variables';

.navbar {
  background-color: #403D3B;
  height: 80px;
  padding: 5px;

  .logo-image {
    margin: 0 auto;
    width: 50px;
    float: left;
    box-shadow: 0 0 10px #222;
  }

  .version {
    margin-top: -40px;
    font-size: 20pt;
    font-weight: 300;
    color: white !important;
    text-shadow: $logo-text-shadow;
    float: right;
  }

  h1.logo {
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: $header-fg;
    font-family: $header-h1-font-family;
    font-weight: $header-font-weight;
    font-size: 45pt;
    text-shadow: $logo-text-shadow;

    &:hover {
      color: $header-hover;
      text-decoration: underline;
    }
  }

}
