
$main-font-family:  "Signika Negative", "HelveticaNeue-Medium", Helvetica, sans-serif;
$main-font-family-monospaced: 'Fira Mono', 'Consolas', 'Monaco', 'Courier', sans-serif;
$main-font-size: 14pt;
$main-font-weight: 500;
$main-fg: #333;
$main-bg: rgba(121, 91, 123, 0.63);
$main-border: #555;
$main-box-shadow: 0px 0px 0px #333;

//$header-h1-font-family: "Baloo", cursive;
$header-h1-font-family: "Fjalla One", sans-serif;
$header-h1-font-size: 20pt;
$header-font-weight: 100;
$header-fg: #fff9f4;
$header-bg: rgba(#ff3522, 0.47);;
$header-border: 0px solid #6b150d;

// shadows
// title text shadow
$header-text-shadow: 1px 1px 3px #3b1714;
// panel itself
$header-box-shadow: 2px 2px 5px #767a6a;

$button-font-family: "Signika Negative", Helvetica, sans-serif;
$button-font-size: 20pt;
$button-font-weight: 600;
$button-text-shadow: 2px 2px 5px #767a6a;

$panel-bg: rgb(255, 229, 214);
$panel-fg: rgb(119, 119, 119);
$panel-sub-panel-bg: rgba(221, 153, 104, 0.27);

$form-input-bg: rgba(#ffb800, 0.27);
$form-input-fg: #222;
$form-input-font-size: $main-font-size + 2;
$form-input-focus-fg: rgb(56, 7, 7);
$form-input-focus-bg: #fff;
$form-input-border: 1px solid rgba(75, 126, 19, 0.5);
//$form-input-box-shadow: 5px 5px 3px #888;
$form-input-box-shadow: 0 0 0;

$radio-selected-bg: rgba(107, 176, 64, 0.57);

$default-border-radius: 0px;

$panel-header-text-padding: 10px 20px;
$panel-padding: 20px;
$panel-header-text-margin: 0;

$modal-fg: #777;
