!!!
%html{lang: 'en'}
  = render 'shared/head'
  %body
    %nav.navbar.navbar-dark.bg-dark.d-flex
      %a.navbar-brand{href: '/'}
        = image_tag('logo-with-gray.png', class: 'logo-image')
        %h1.logo.text-center make a box.io
    .container.container-fluid
      = yield
  %footer
    .container-fluid
      .spacer-20
      = render 'shared/footer'
