!!!
%html{:lang => 'en'}
  = render 'shared/1_head'
  %body
    .container-fluid
      = render '/shared/2_nav_bar_logo'
    .container.container-fluid
      = yield
  %footer
    .container-fluid
      .spacer-20
      = render 'shared/4_footer'
